
<div class="container">
    <div class="row">
        <div class="col-xs-12 well margin-bottom">
            <div class="header-pi-container">
                <span class="header-pi">&pi;</span>
            </div>
            <h1>Approxymations of Math Constants</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 well">
            <form name="approxymations_form" class="form-inline">
                <div class="form-group">
                    <label for="iteration"> No. of iterations: </label>
                    <select id="iteration" class="form-control" name="iteration" ng-model="iteration" ng-init="iteration = iterations[number]" ng-options="item.value for item in iterations">
                        <option ng-repeat="item in iterations track by item.value" value="{{item.value}}">{{item.label}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="algorithm"> Algorithm: </label>
                    <select id="algorithm" class="form-control" name="algorithm" ng-model="algorithm">
                        <option ng-repeat="approx in algorithms" value="{{approx.algorithm}}">{{approx.label}}'s {{approx.constant}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="show_table">Table</label>
                    <input type="checkbox" id="show_table" name="show_table" ng-model="show_table">
                    <label for="show_chart">Chart</label>
                    <input type="checkbox" id="show_chart" name="show_chart" ng-model="show_chart">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="(approxymator = generate(algorithm,iteration.value)) && (chartData = getChartData(approxymator))">Generate</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 well">
            <div ng-if="approxymator">Approxymation : {{approxymator && approxymator.getApproxymation()}}</div>
            <div ng-hide="approxymator">No approxymations - select options and click "Generate"</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 well" ng-if="approxymator && show_table" ng-class="{'wide': show_table && !show_chart}">
            <p>Table with calculation of <strong>{{currentAlgorithm()[0].constant}}</strong> by <strong>{{currentAlgorithm()[0].label}}'s algorithm</strong>, 
            with real value <strong>{{approxymator && approxymator.getApproxymation()}}</strong></p>
            <div ng-include="'/views/table.html'"></div>
        </div>

        <div class="col-xs-12 col-sm-6 well" ng-if="approxymator && show_chart" ng-class="{'wide': show_chart && !show_table}" >
            <p>Chart with calculation of <strong>{{currentAlgorithm()[0].constant}}</strong> by <strong>{{currentAlgorithm()[0].label}}'s algorithm</strong>, 
            with real value <strong>{{approxymator && approxymator.getApproxymation()}}</strong></p>
            <div ng-include="'/views/chart.html'"></div>
        </div>
    </div>
</div>

